# .coveragerc to control coverage.py
[run]
include =
    reference_latex_headers.py
    code_dt_equations.py
    code_full_cc.py
    code_residual_equations.py
    code_w_equations.py
    common_imports.py
    helper_funcs.py
    latex_defines.py
    latex_eT_zhz.py
    latex_full_cc.py
    latex_w_equations.py
    latex_zhz.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
